.DS_Store
**.DS_Store
*~
*.swp
*.swo
**/.jukit/

bin/*
env/*
etc/*
include/*
lib/*
lib64
share/*
instance/database.db
instance/**
instance
instance/*

start
.env
.flaskenv
*.egg
*.egg-info/


__pycache__
/__pycache__/
*.pyc
instance
**/__pycache__
**/__pycache__/
*.pyc
*.pyo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

*.webassets-cache
*/webassets-cache

.htaccess
*.log
log/*
logs/*

.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

